.App {
  font-family: sans-serif;
  text-align: center;
}

.map-container {
  height: 100vh;
}

.search {
  background-color: hsla(0,0%,100%,.5);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  width: 400px;
  max-height: 500px;
  overflow: auto;
}

.styleChooser {
  background-color: hsla(0,0%,100%,.5);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 400px;
  border-radius: 4px;
}

.layerChooser {
  background-color: hsla(0,0%,100%,.5);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 530px;
  border-radius: 4px;
}

.buttonTextWarp {
  white-space: normal;
  height: auto;
  text-align: left;
}



.layerName {
  color: white;
}

.mapInfo {
  background-color: hsla(0,0%,100%,.5);
  padding: 3px;
  z-index: 1;
  position: absolute;
  bottom: 30px;
  left: 0;
  border-radius: 4px;
}

.features {
  background-color: hsla(0,0%,100%,.8);
  z-index: 1;
  position: absolute;
  bottom: 20px;
  right: 0;
  border-radius: 4px;
  border-top: solid grey;
  max-height: 88vh;
  overflow: auto;
  line-height: normal;
  font-size: smaller;
  max-width: 400px;
}
.deleteMarker {
  position: absolute;
  top: 0;
  padding: 2px;
  left: 5px;
}