.ApplicationsMenu {
  [class^='ant-col'] {
    background: #ffffff;
    text-align: center;
    font-size: 38px;
    width: 109px;

    &:hover {
      color: #ffffff;
      cursor: pointer;
      border-radius: 3px;
      background: #005782;
      .anticon {
        transform: scale(1.05);
      }
      .menu-name {
        transform: scale(1.05);
      }
    }
    .menu-name {
      font-size: 14px;
      display: block;
      z-index: 999;
      margin-bottom: 10px;
    }
  }

  &-logo {
    font-size: 16px;
    width: 48px;
    height: 48px;
  }

  &-overlay {
    top: 55px !important;

    .ant-popover-inner-content {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .ant-popover-arrow {
      width: 15px !important;
      height: 15px !important;
      background: #595959;
      z-index: -1;
      right: 26.5px !important;
      top: 2px !important;
    }
  }

  &-trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: #005782;
    }
  }
}
