.ErrorBoundary {
  &-title {
    font-size: 2em;
    font-family: 'sans-serif';
    color: 'rgb(206, 17, 38)';
    white-space: 'pre-wrap';
    margin: '25px 0 0 25px';
    flex: 0 0 auto;
    max-height: 50%;
    overflow: auto;
  }
}
