.Feedback {
  cursor: pointer;

  &-icon {
    color: #e30613;
    font-size: 16px;
  }
  &-title {
    font-size: 14px;
    margin-left: 7px;
  }
}
.clearfix {
  & .anticon-eye-o {
    display: none !important;
  }
  position: fixed;
}

.uploadStyle {
  .ant-upload.ant-upload-select-picture-card {
    width: 190px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 7px;
  }
}
