.ant-btn {
  &-primary {
    @include generateButton(#009d7e, #ffffff);
  }

  &-success {
    @include generateButton(#26a000, #ffffff);
  }

  &-danger {
    @include generateButton(#f52441, #ffffff);
  }

  &-warning {
    @include generateButton(#f69b00, #ffffff);
  }

  &-info {
    @include generateButton(#487ac4, #ffffff);
  }

  &-blue {
    @include generateButton(#005782, #ffffff);
  }
}
