@mixin generateButton($buttonColor, $textColor) {
  color: $textColor;
  border-color: $buttonColor;
  background-color: $buttonColor;

  &:hover,
  &:active,
  &:focus {
    color: lighten($textColor, 7);
    border-color: lighten($buttonColor, 7);
    background-color: lighten($buttonColor, 7);
  }
}
