@import '../scss/mixins.scss';
@import '../scss/global.scss';

.Container {
  min-height: 100vh;
}

.Content {
  padding: 15px;
}

.Header {
  background: #ffffff;
  padding: 0;

  &-trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: #005782;
    }
  }
}

.Footer {
  margin: 10px;
  text-align: center;
}

.Sidebar {
  &-logo {
    height: 64px;
    background: #005782;
    margin: 0px !important;
    cursor: pointer;
    text-align: center;
    line-height: 64px;

    &-mini {
      display: none;
      & img {
        height: 64px;
        margin-left: 15px;
        padding: 5px;
      }
    }
  }

  &-user {
    color: #e7e9eb;
    padding: 25px 20px;
    text-align: center;

    &-icon {
      color: '#f3f3f3' !important;
      font-size: 18px;
      cursor: pointer;
    }

    &-photo img {
      width: 100%;
    }

    &-name h3 {
      margin: 10px 0 -10px;
      font-size: 15px;
      text-align: center;
      color: #f3f3f4;
    }
  }

  &-menu {
    &-badge {
      float: right;
      margin-top: 10px;

      .ant-badge-count {
        box-shadow: none;
        background: #e30613;
      }
    }
  }

  &.ant-layout-sider {
    flex: 0 0 280px !important;
    max-width: 216px !important;

    &-collapsed {
      flex: 0 0 80p !important;
      max-width: 80px !important;
      min-width: 80px;
      width: 80px;
      .Sidebar-user,
      .Sidebar-logo {
        display: none;
      }
      .Sidebar-logo-mini {
        display: block;
      }
    }
  }
}

.Menu {
  & .ant-menu-item-selected {
    border-left: 4px solid #c29e64 !important;
  }

  & .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
  .ant-menu-submenu-active {
    color: white;
  }
}

.Tabs {
  &-badge {
    float: right;
    margin-top: 2px;

    .ant-badge-count {
      color: #595959;
      background-color: #fafafa;
      box-shadow: 0 0 0 1px #dddddd inset;
    }
  }
}

.ant-radio-wrapper {
  .Detailed-search-label {
    margin-left: 25px;
  }

  .Detailed-search-label:first-child {
    margin-left: 0px;
  }
}

.Form {
  .ant-card-head-title {
    font-weight: 400;
  }
}
